.calculatrice
{
        width:300px;
        height:450px;
        background-color:#ec6205;
        border:2px solid rgb(247, 143, 24);
        margin:auto;
        padding-left:5px;
        
}
.calculatrice td
{
        height:16.66%;
}
.ecran
{
        text-align:center;
}
.calc_resultat
{
        width:90%;
        height: 30px;
        text-align:right;
}
.calc_td_calculs
{
        text-align:center;
}
.calc_calculs
{
        width:90%;
        text-align:left;
}
.calc_td_btn
{
        width:25%;
        height:100%;
}
.boutton
{
        width:90%;
        height:90%;
        font-size:20px;
}